{% extends 'base.html.twig' %}

{% block title %}Hospital{% endblock %}

{% block body %}
    <h1>Hospital</h1>

    <table class="table">
        <tbody>
         
            <tr>
                <th>Nom Hopital</th>
                <td>{{ hospital.nom }}</td>
            </tr>
         
            </br>
            </br>
            
            <th>Nombre de chambe dans cette hopital : </th>
            <br>
            <td>
            <br>
                {% for chambre in hospital.chambre %}
                {{chambre.nom}}
                {% for admission in chambre.admissions %}
                {{admission.date_debut| date('d.m.y')}}<br>
                {{admission.date_fin}}
                {% endfor %}
                <br>
                {% endfor %}
            </td>
        </tbody>
    </table>

    <a href="{{ path('hospital_index') }}">retour </a>
 <a href="{{ path('hospital_edit', {'id': hospital.id}) }}">edit </a>

    {{ include('hospital/_delete_form.html.twig') }}
{% endblock %}
